/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

body {
	@apply bg-blackish text-white;
	/* background-color: config('colors.grey-darker'); */
	/* color: config('colors.white'); */
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.grid {
	display: grid;
}

.template-3cols-or-more {
    grid-template-columns: 1fr 1fr 1fr;
}
@screen md {
    .template-3cols-or-more {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@screen lg {
    .template-3cols-or-more {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}
@screen xl {
    .template-3cols-or-more {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }
}

.gap-2px {
    grid-gap: 2px;
}

.typography p {
    @apply mb-4;
}

.typography a:link,
.typography a:visited {
    @apply text-havelock;
}

.typography a:hover,
.typography a:focus {
    @apply text-blackish;
}

.animate-rotate {
    animation-name: animate-rotate;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
}
@keyframes animate-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.-translateX-50 {
    transform: translateX(-50%);
}

.-translateY-50 {
    transform: translateY(-50%);
}

.transition-opacity {
    transition: opacity 2.5s ease-in-out;
}

.text-shadow {
    text-shadow: 3px 3px 8px config('colors.blackish-light');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: inherit;
}